Repository dlang-community/libdparse, pull requests merged in 2020-03, with the labels that each got.

#384 Allow public access to lexer error and warning messages
  src/dparse/lexer.d
Labels: auto-merge, enhancement, lexer, trivial

#385 Fix error handling in invalid escape sequence
  src/dparse/lexer.d
Labels: Bug Fix, auto-merge-squash, lexer, trivial

#386 Add comment helper tests & fix segfault
  src/dparse/lexer.d
Labels: Bug Fix, auto-merge, lexer
