Repository dlang-community/libdparse, pull requests merged in 2020-02, with the labels that each got.

#379 Fix: PrimaryExpression is missing typeConstructor
  src/dparse/parser.d
Labels: Bug Fix, parser

#382 Fix rollback_allocator implementation
  src/dparse/rollback_allocator.d
Labels: Bug Fix

#375 Fix a range violation in unDecorateComment
  src/dparse/lexer.d
Labels: Bug Fix, lexer

#376 Fix some more range errors on unexpected EOF
  src/dparse/parser.d
Labels: Bug Fix, parser
