Repository dlang-community/libdparse, pull requests merged in 2020-07, with the labels that each got.

#422 Support extern(C++ <strings>) with trailing comma
  src/dparse/ast.d
  src/dparse/parser.d
Labels: auto-merge, parser, trivial

#420 Fix #405: Named entities not lexed correctly
  src/dparse/lexer.d
Labels: Bug Fix, auto-merge

#424 Support 'throw' as a function attribute
  src/dparse/parser.d
  test/fail_files/throwattribute.d
  test/pass_files/throwattribute.d
Labels: auto-merge, enhancement, parser
